---
interface Props {
    lang: string,
    title: string;
}

const { title, lang } = Astro.props;

import { getData } from '@cv';
import  Section from  '@/components/Section.astro'
import moment from 'moment';

const { education } = getData(lang);
---

<Section title={title}>

	<ul>
		{
			education.map(({ institution, startDate, endDate, studyType}) => {
				const startDateMoment = moment(startDate)
				const endDateMoment = endDate ? moment(endDate) : moment()
			
				const startYear = startDateMoment.year();
				const endYear = endDateMoment.year() || 'Present';
				const startMonth = startDateMoment.format('MMMM');
				const endMonth = endDateMoment.format('MMMM');
		        const firstThreeLetters = startMonth.substring(0, 3)
		        const startMonthFommatter = firstThreeLetters.charAt(0).toUpperCase() + firstThreeLetters.slice(1)
		        const firstThreeLettersEnd = endMonth.substring(0, 3)
		        const endMonthFommatter = firstThreeLettersEnd.charAt(0).toUpperCase() + firstThreeLettersEnd.slice(1)
		        const years = `${startMonthFommatter} ${startYear} - ${endMonthFommatter} ${endYear}`

				return (
				<li>
					<article>
						<header>
							<div>
								<h3>{institution}</h3>
								<h4>{studyType}</h3>
							</div>
							<time>{years}</time>
						</header>
					</article>
				</li>
				)
			})
		}
	</ul>
<Section/>

<style>
	ul{
		display: flex;
		flex-direction: column;
		gap: 32px;
	}

	article h3{
		font-weight: 500;
		color: #555;
	}

	article h4{
		color: #666;
		font-weight: 400;
	}

	header {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 4px;
	}

	time {
		color: #555;
		font-size: 0.85rem;
	}
</style>