---
interface Props {
    lang: string,
    title: string;
}

const { title, lang } = Astro.props;

import { getData } from '@cv';
import Section from '@/components/Section.astro'
import moment from 'moment';

const { work } = getData(lang);
---
<Section title={title}>
    <ul>
        {
        work.map(({ name, startDate, endDate, position, summary, url}) => {
            const startDateMoment = moment(startDate)
            const endDateMoment = endDate ? moment(endDate) : moment()
            const startYear = startDateMoment.year();
            const endYear = endDateMoment.year() || 'Present';
            const startMonth = startDateMoment.format('MMMM');
            const endMonth = endDateMoment.format('MMMM');
            const firstThreeLetters = startMonth.substring(0, 3)
            const startMonthFommatter = firstThreeLetters.charAt(0).toUpperCase() + firstThreeLetters.slice(1)
            const firstThreeLettersEnd = endMonth.substring(0, 3)
            const endMonthFommatter = firstThreeLettersEnd.charAt(0).toUpperCase() + firstThreeLettersEnd.slice(1)
            const years = `${startMonthFommatter} ${startYear} - ${endMonthFommatter} ${endYear}`
            return (
            <li>
                <article>
                    <header>
                        <div>
                            <h3><a href={url} target="_blank">{name}</a></h3>
                            <h4>{position}</h4>
                        </div>
                        <time>{years}</time>
                    </header>
                    <footer>
                        <p>{summary}</p>
                    </footer>
                </article>
            </li>
            )
        })
        }
    </ul>
    <Section />
    <style>
    ul {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    article h3 a {
        font-weight: 500;
        color: #111;
        color: 'inherit';
        text-decoration: 'none';
    }

    article h4 {
        color: #222;
        font-weight: 400;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 4px;
    }

    time {
        color: #555;
        gap: 32px;
    }

    header div h3 a:hover {
        color: #35682d; /* cambiamos el color a amarillo */
        font-weight: bold;

    }

    @media (max-width: 500px) {
        time {
            width: 100px;
        }
    }
    </style>